@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
  display: flex;
}

/* general */
body {
  font-family: "Roboto", sans-serif;
}

/* header */

#header {
  height: 80px;
  display: flex;
  text-align: center;
  background-color: lightcoral;
  text-decoration: none;
}

#header .title {
  margin: 0;
  padding: 1rem;
  color: #ffffff;
}

#header .portfolio {
  color: #ffffff;
  text-decoration: none !important;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

button#portfolio {
  color: transparent;
  height: 80px;
  width: 150px;
  font-size: 1.1rem;
  padding: 0 1rem;
  background-color: transparent;
  margin-left: 900px;
  border-color: transparent;
}

button#portfolio:hover {
  color: white;
  font-size: 1.1rem;
  padding: 0 1rem;
  background-color: pink;
  margin-left: 900px;
  border-color: transparent;
}
